@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Helvetica, sans-serif;
    background-color: white;
}

/*---> HEADER <---*/
header nav.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 85vw;
    margin: 0 auto;
}

header nav.navbar a.nav-logo {
    color: black;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
}

header nav.navbar ul.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav.navbar ul.nav-menu li.nav-item {
    margin-left: 2rem;
    list-style: none;
}

header nav.navbar ul.nav-menu li.nav-item a.nav-link {
    color: grey;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    transition-duration: 0.3s;
}

header nav.navbar ul.nav-menu li.nav-item a.nav-link:hover {
    color: black;
    font-size: 1.1rem;
    font-weight: 900;
    text-decoration: none;
}

header nav.navbar .hamburger {
    display: none;
}

header nav.navbar .hamburger span.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/*---> RESPONSIVE HEADER <---*/
@media screen and (max-width: 768px) {
    header nav.navbar {
        width: 100vw;
        height: 4vh;
        flex-direction: row-reverse;
        justify-content: start;
    }
    header nav.navbar a.nav-logo {
        font-size: 1.6rem;
        margin-left: 3rem;
    }
    header nav.navbar ul.nav-menu {
        position: fixed;
        top: -100%;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 30px 27px rgba(0, 0, 0, 0.05);
    }
    header nav.navbar ul.nav-menu.active {
        left: 0;
        top: 4vh;
    }
    header nav.navbar ul.nav-menu li.nav-item {
        margin: 2rem 0;

    }
    header nav.navbar ul.nav-menu li.nav-item a.nav-link {
        font-size: 1.5rem;
        padding: 20px 50px;
    }
    header nav.navbar ul.nav-menu li.nav-item a.nav-link:hover {
        font-size: 1.5rem;
    }
    header nav.navbar .hamburger {
        display: block;
        cursor: pointer;
        background-color: black;
        height: 4vh;
        width: 150px;
    }
    header nav.navbar .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    header nav.navbar .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    header nav.navbar .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 576px) {
    header nav.navbar a.nav-logo {
        font-size: 1.4rem;
        margin-left: 2rem;
    }
}

/*---> MAIN BANNER <---*/
main section.banner-box {
    background-image: url("assets/banner/laranja.png");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: flex;
    align-items: center;
    height: 60vh;
}

main section.banner-box .banner-txt {
    width: 85vw;
    margin: 0 auto;
}

main section.banner-box .banner-txt h1 {
    font-size: 3.8rem;
    font-weight: 700;
    color: white;
    margin-bottom: 5%;
}

main section.banner-box .banner-txt a {
    font-size: 1.7em;
    font-weight: 200;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/*---> RESPONSIVE MAIN BANNER <---*/
@media screen and (max-width: 1280px) {
    main section.banner-box .banner-txt h1 {
        font-size: 2.5rem;
    }
    main section.banner-box .banner-txt a {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 768px) {
    main section.banner-box {
        background-image: url("assets/banner/laranja2.png");
        height: 96vh;
        align-items: flex-end;
    }
    main section.banner-box .banner-txt {
        width: 80vw;
        margin-bottom: 4rem;
    }
    main section.banner-box .banner-txt h1 {
        font-size: 3.5rem;
    }
    main section.banner-box .banner-txt a {
        font-size: 1em;
    }
}

@media screen and (max-width: 576px) {
    main section.banner-box .banner-txt h1 {
        font-size: 3rem;
    }
    main section.banner-box .banner-txt a {
        font-size: 1em;
    }
}

/*---> MAIN <---*/
main section.main-container {
    width: 85vw;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

main section.main-container .main-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
}

main section.main-container .main-box img {
    width: 100%;
}

/*---> RESPONSIVE MAIN <---*/
@media screen and (max-width: 768px) {
    main section.main-container {
        margin-top: 7vh;
        margin-bottom: 3vh;
    }
    main section.main-container {
        width: 80vw;
    }
    main section.main-container .main-box {
        grid-gap: 30px;
    }
}

@media screen and (max-width: 576px) {
    main section.main-container {
        margin-top: 7vh;
        margin-bottom: 5vh;
    }
    main section.main-container .main-box {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/*---> FOOTER <---*/
footer {
    background-color: #f6f6f6;
}

footer section.footer {
    display: flex;
    align-items: center;
    width: 85vw;
    height: 10vh;
    margin: 0 auto;
}

footer section.footer .icons-box {
    display: flex;
    align-items: center;
    width: auto;
}

footer section.footer .icons-box img {
    height: 25px;
    margin: 15px 30px 15px 0;
}

footer section.footer .responsive-box .footer-texto {
    display: flex;
}

footer section.footer .responsive-box .footer-texto p#copyright {
    font-size: 0.9rem;
    font-weight: 700;
    align-self: center;
    margin-right: 2rem;
    margin-left: 8rem;
}

footer section.footer .responsive-box .footer-texto .texto {
    color: grey;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

/*---> RESPONSIVE FOOTER <---*/
@media screen and (max-width: 1200px) {
    footer section.footer .responsive-box .footer-texto p#copyright {
        margin-left: 4rem;
    }
    footer section.footer .icons-box img {
        height: 20px;
    }
}

@media screen and (max-width: 992px) {
    footer section.footer .responsive-box .footer-texto p#copyright {
        margin-left: 2rem;
    }
    footer section.footer .icons-box img {
        height: 20px;
        margin: 15px 20px 15px 0;
    }
}

@media screen and (min-width: 768px) {
    footer section.footer .responsive-box .button-box {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    footer {
        background-color: white;
    }
    footer section.footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80vw;
        height: auto;
        margin: 0 auto;
    }
    footer section.footer .icons-box {
        background-color: #7FDBD4;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px 20px;
        margin-bottom: 3vh;
    }
    footer section.footer .icons-box img {
        height: 30px;
        margin: 0;
    }
    footer section.footer .responsive-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
        margin: 0 auto;
    }
    footer section.footer .responsive-box .footer-texto {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        margin-bottom: 1vh;
    }
    footer section.footer .responsive-box .footer-texto p#copyright {
        color: black;
        font-size: 0.8rem;
        font-weight: 700;
        align-self: flex-start;
        margin: 0;
        margin-bottom: 0.5rem;
    }
    footer section.footer .responsive-box .footer-texto .texto p {
        color: grey;
        font-size: 0.7rem;
    }
    footer section.footer .responsive-box .button-box a {
        font-weight: 200;
        color: #CCCCCC;
        background-color: #333333;
        text-align: center;
        padding: 5px 20px 5px 20px;
        text-decoration: none;
    }
}

@media screen and (max-width: 576px) {
    footer section.footer .icons-box img {
        height: 20px;
    }
}