@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Helvetica, sans-serif;
    background-color: white;
}

header {
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header div.logo-box {
    display: flex;
    align-items: center;
    margin-left: 4%;
}

header a.logo {
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
}

header nav.menu-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4%;
    width: 30%;
}

header nav.menu-box a.menu {
    color: grey;
    font-size: 0.8rem;
    font-weight: 300;
    text-decoration: none;
    transition-duration: 0.3s;
    margin: 4%;
}

header nav.menu-box a.menu:hover {
    color: black;
    font-size: 1.1rem;
    font-weight: 900;
    text-decoration: none;
    box-sizing: border-box;
}

main div.banner-box {
    background-image: url("imgs/laranja.png");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: flex;
    align-items: center;
    height: 60vh;
}

main div.banner-box div.texto {
    display: flex;
    flex-direction: column;
}
main div.banner-box div.texto h1 {
    font-size: 3.8rem;
    font-weight: 700;
    color: white;
    width: 100%;
    margin: 3% 0 5% 4%;
}

main div.banner-box div.texto a {
    font-size: 1.7rem;
    font-weight: 200;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 4%;
}

main section.main-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4%;
}

main section.main-box img.img-box {
    margin: 5px;
}

footer section.footer-box {
    background-color: #f6f6f6;
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: center;
}

footer div.icons-box {
    width: 20%;
    display: flex;
    align-self: auto;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 -15%;
}

footer div.icons-box img {
    height: 25px;
    margin: 15px;
}

footer p#copyright {
    font-size: 0.9rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin: 0 2% 0 10%;
}

footer div.footer-text {
    color: grey;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}